<!DOCTYPE html>
<html>
  <head>
    <link rel=stylesheet type='text/css' href='/css/main.css'/>
  </head>
  <body>
    <form method=POST>

      <fieldset>
	<legend>Basic settings</legend>
	<div>
	  <label for=baseUrl>Base URL:</label>
	  <input type=text id=baseUrl name=baseUrl value='{{.LegistarBaseURL}}'/>
	</div>

	<div>
	  <label for=timezone>Timezone:</label>
	  <input type=text id=timezone name=timezone value='{{.TimeLocationName}}'/>
	</div>

	<div>
	  <label for=updates>Send Updates?</label>
	  <input type=checkbox name=updates id=updates {{if .UpdatesEnable}}checked{{end}}/>
	</div>
      </fieldset>

      <fieldset>
	<legend>Twitter</legend>

	<div>
	  <label for=twitterEnable>Tweet?</label>
	  <input type=checkbox name=twitterEnable id=twitterEnable {{if .TwitterEnable}}checked{{end}}/>
	</div>

	<div>
	  <label for=twitterKey>Consumer Key:</label>
	  <input type=text id=twitterKey name=twitterKey value='{{.TwitterKey}}'/>
	</div>

	<div>
	  <label for=twitterSecret>Consumer Secret:</label>
	  <input type=text id=twitterSecret name=twitterSecret value='{{.TwitterSecret}}'/>
	</div>

	<div>
	  <label for=twitterToken>Access Token:</label>
	  <input type=text id=twitterToken name=twitterToken value='{{.TwitterToken}}'/>
	</div>

	<div>
	  <label for=twitterTokenSecret>Access Token Secret:</label>
	  <input type=text id=twitterTokenSecret name=twitterTokenSecret value='{{.TwitterTokenSecret}}'/>
	</div>
	</fieldset>
      
      <div class=submit>
	<button type=submit>Submit</button>
      </div>
    </form>
  </body>
</html>
